<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .button {
          border: none;
          background-color: WhiteSmoke;
          cursor: pointer;
        }
    </style>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<button class="button" onclick="window.location.href='{% url 'homepage' %}'">Home Page</button>
<button class="button" onclick="window.location.href='{% url 'registration' %}'">Registration</button>
<button class="button" onclick="window.location.href='{% url 'authentication' %}'">Log in</button>
<br><hr>
<h2>In database only passwords hash! For test all passwords must be 12345 or do not forgot password.</h2>
<hr>
<h1>{{ title }}</h1>
{% block one %}
{% endblock %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
